.m{
    &-1{margin:1rem;}

    &x-1{margin: 0 1rem}
    &x-2{margin: 0 2rem}
    
    &y-1{margin: 1rem 0}
    &y-2{margin: 2rem 0}

    &t-1{margin-top: 1rem;}
    &t-2{margin-top: 2rem;}

    &b-1{margin-bottom: 1rem;}
    &b-2{margin-bottom: 2rem;}
    
    &l-1{margin-left: 1rem;}
    &l-2{margin-left: 2rem;}
    
    &r-1{margin-right: 1rem;}
    &r-2{margin-right: 2rem;}
}
.p{
    &t-1{padding-top:1rem;}
    &t-2{padding-top:2rem;}

    &b-1{padding-bottom:1rem;}
    &b-2{padding-bottom:2rem;}
}

.custom-width{
    max-width:280px !important;
}

.field-validation-error {
    color: #c53c39;
}
.input-validation-error {
    border: 2px solid #ff7b79;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    }
}
.img-rounded {
    //display: block;
    //margin: 0 auto;
    height: 20px;
    &:hover{
        cursor:pointer;
    }
}
.btn:focus{
    outline:none;
    border:none;
}