@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customer" class="table-responsive pt-1 mb-2">
	<table class="table table-hover">
		<thead>
		<tr class="warning">
			<th>Sl no.</th>
			<th>Customers</th>
			<th>Membership</th>
			<th>Duration</th>
			<th>Cost</th>
			<th>Discount %</th>
		</tr>
		</thead>
	</table>
</div>

@section scripts
{
	@Scripts.Render("~/Scripts/my-vanilla-js/customer-index-readonly.js")
}